div.quantity.buttons_added {
	.minus,
	.plus {
		display: none;
	}
}

div.quantity.buttons_added .qty{
	.img-rounded;
}

.woocommerce,
.woocommerce-page,
.woocommerce #content,
.woocommerce-page #content {
	div.product {
		div.images {
			.pull-left;
			margin-right: (@grid-gutter-width / 2);
		}
	}
	form.cart div.quantity {
		.pull-left;
	}
	.woocommerce-tabs {
		clear: both;
		position: relative;
		top: (@grid-gutter-width / 2);
	}
}

img.avatar.media-object {
	.img-rounded;
}

.price {
	del {
		font-size: 92%;
		font-weight: 200;
	}
	ins {
		text-decoration: none !important;
		.amount {
			text-decoration: none !important;
			font-weight: 700;
		}
	}
}

.onsale-ribbon {
	width: ( 5 * @line-height-computed );
	height: ( 5 * @line-height-computed );
	overflow: hidden;
	position: absolute;
	right: ( @grid-gutter-width / 2 );
	top: 0;
	z-index: 999;
	.onsale {
		width: sqrt( ( 2 * ( 5 * @line-height-computed ) * ( 5 * @line-height-computed ) ) );
		color: @body-bg;
		text-align: center;
		.rotate(45deg);
		position: relative;
		padding: @padding-base-vertical 0;
		left: -@thumbnail-padding;
		top: ( @line-height-computed - @thumbnail-padding );
		background: @brand-warning;
		color: @body-bg;
	}
}