div.quantity.buttons_added {
	.minus,
	.plus {
		display: none;
	}
}

div.quantity.buttons_added .qty{
	.img-rounded;
}

.woocommerce,
.woocommerce-page,
.woocommerce #content,
.woocommerce-page #content {
	div.product {
		div.images {
			.pull-left;
			margin-right: (@grid-gutter-width / 2);
		}
	}
	form.cart div.quantity {
		.pull-left;
	}
	.woocommerce-tabs {
		clear: both;
		position: relative;
		top: (@grid-gutter-width / 2);
	}
}

img.avatar.media-object {
	border-radius: 50%;
}

.single_variation {
	.price {
		font-size: 2em;
	}
}

h4.price {
	font-size: 2em;
	del {
		font-size: 92%;
		font-weight: 200;
	}
	ins {
		text-decoration: none !important;
		.amount {
			text-decoration: none !important;
			font-weight: 700;
		}
	}
}

.onsale-ribbon {
	width: ( 5 * @line-height-computed );
	height: ( 5 * @line-height-computed );
	overflow: hidden;
	position: absolute;
	right: ( @grid-gutter-width / 2 );
	top: 0;
	z-index: 999;
	.onsale {
		// Hail Pythagoras
		width: sqrt( ( 2 * ( 5 * @line-height-computed ) * ( 5 * @line-height-computed ) ) );
		color: @body-bg;
		text-align: center;
		.rotate(45deg);
		position: relative;
		padding: @padding-base-vertical 0;
		left: -@thumbnail-padding;
		top: ( @line-height-computed - @thumbnail-padding );
		background: @brand-warning;
		color: @body-bg;
	}
}

.btn.strong {
	font-weight: bold;
}

@font-face {
	font-family: 'star-square';
	src:url('fonts/star-square.eot');
	src:url('fonts/star-square.eot?#iefix') format('embedded-opentype'),
		url('fonts/star-square.ttf') format('truetype'),
		url('fonts/star-square.woff') format('woff'),
		url('fonts/star-square.svg#star-square') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ss-woo-"], [class*=" ss-woo-"] {
	font-family: 'star-square';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ss-woo-star-square:before {
	content: "\e600";
}

p.comment-form-rating p.stars {
	font-size: 1.2em;
	a.star-1,
	a.star-2,
	a.star-3,
	a.star-4,
	a.star-5 {
		font-family: 'Elusive-Icons';
		overflow: hidden;
		width: 1em;
		visibility: hidden;
		text-decoration: none;
		color: @brand-success;
		&:before {
			content: "\e632";
			visibility: visible;
		}
		&.active {
			&:before {
				content: "\e634";
			}
		}
	}
}

div.star-rating {
	height: 1em;
	position:relative;
	width: 5em;
	overflow: hidden;
	span {
		height: @font-size-base;
		position: absolute;
		background: @brand-primary;
		color: @brand-primary;
		text-indent: -999;
	}
	.rating-stars {
		height: @line-height-base;
		position: absolute;
		top: -2px;
		color: @body-bg;
		.el-icon-star-empty {
			color: @brand-primary;
		}
	}
}

div#respond {
	.form-submit {
		input#submit {
			.btn;
			.btn-primary;
		}
	}
}

div.woocommerce-tabs {
	.panel.entry-content {
		border: none;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}